@keyframes fadeIn {
    from {opacity:0%;}
    to {opacity:100%;}
    }
    
.anim{
    animation: fadeIn 3s;
}

.button-class{
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 50px;
    margin-right: 10px;
}